services:
  db:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8000:8000"
  
  etl-cron:
    build:
      context: .
      dockerfile: Dockerfile.etl
    depends_on:
      - db
    env_file: .env
    restart: always


  etl-once:
    build:
      context: .
      dockerfile: Dockerfile.aws.etl
    depends_on:
      - db
    env_file: .env
    restart: always


volumes:
  postgres_data:
